.cell {
  display: inline-block;
  line-height: 7px;
  width: 6px;
  height: 6px;
  background-color: gray;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  vertical-align: middle;
}

body {
  font-size: 0;
}

#container {
  width: 701px;
}
