div {
  background-color: gray;
  display: inline-block;
  margin: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.green.light {
  background-color: green;
}
.yellow.light {
  background-color: yellow;
}
.red.light {
  background-color: red;
}

.next {
  width: 60px;
  height: 26px;
  line-height: 26px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
}
